{% extends 'layout/kosongan.twig' %}

{% block judul %}
    Koin Terpakai -
{% endblock %}

{% block isi %}
	{% if data != null %}
		<div class="panel panel-default">
			<div class="list-group">
				{% for x in data %}
					<div class="list-group-item">
						{{ x.judul }}			
						<div class="badge">{{ x.koin }} koin</div>
					</div>    
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}